@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');


body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
body {
  font-family: 'Sansita Swashed', bold italic;
  margin: 1em;
  color: black;
  font-size:20px
.nav-p{
  display:inline-block;
  padding-top:.3125rem;
  padding-bottom:.3125rem;
  margin-right:1rem;
  font-size:1.25rem;
  line-height:inherit;
  white-space:nowrap;
  color:white;
  
}
  